body {
    text-align: center;
    background-color: black;
}
logo {
    martin: 0 auto;
    text-align: center;
    width: 578px;
}
@font-face {
  font-family: OhFourBeeOhThree;
  src: url(04b_03.ttf);
}

